
    <div class="container">
      <div class="row m-4">
        
            <button type="button" class="btn btn-success center">
              <a href= "/product">
               Add New Product

              </a>
            </button>
       
        </div>
        

        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h6 class="card-title">Select type and tags</h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TYPE</h5>

              <span class="badge bg-light text-dark">Clothing</span>
              <span class="badge bg-primary text-dark">Tech</span>
              <span class="badge bg-light text-dark">Home Decor</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TAG</h5>

              <span class="badge rounded-pill bg-light text-dark">color</span>
              <span class="badge rounded-pill bg-light text-dark">size</span>
              <span class="badge rounded-pill bg-primary text-white">new</span>
              <span class="badge rounded-pill bg-light text-dark"
                >handmade</span
              >
              <span class="badge rounded-pill bg-light text-dark">sport</span>
              <span class="badge rounded-pill bg-light text-dark">cars</span>
              <span class="badge rounded-pill bg-light text-dark"
                >electric</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h6 class="card-title">Results</h6>
            </div>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Type</th>
              <th scope="col">Tag</th>
              <th scope="col">Stock</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}} {{@index}}: {{this}} 
            <tr>
              <th scope="row">{{this.id}}</th>
              <td>{{this.item_name}}</td>
              <td>{{this.price}}</td>
              <td>{{this.stock}}</td>
              <td>{{this.id}}</td>
              <td>
                <button type="button" class="btn btn-success">+</button
                ><a> {{this.stock}} </a
                ><button type="button" class="btn btn-warning">-</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Delete</button>
                <button  class= "btn btn-warning"><a href="/">Edit</a></button>
              </td>
            </tr>
            {{/each}}
            
          </tbody>
        </table>
      </div>
    </div>

