  <div class="container">
    
    <div class="row">
      <div class="card" style="width: 70rem">
        <div class="card-body">
          
          <button  class= "btn-danger text-white"><a href="/">CANCEL</a></button>
          <button  class= "btn-primary text-white"><a href="/">SAVE</a></button>
          
        <!-- <button type="button" class="btn btn-danger">CANCEL</button>
        <button type="button" class="btn btn-success">SAVE</button> -->
      </div>
      </div>
 

    <div class="row">
      <div class="card" style="width: 70rem">
        <div class="card-body">
          <h5 class="card-title">INFO</h5>
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name:</span>
          <input id="itemName" type="text" class="form-control" placeholder="{{product.item_name}}" aria-label="{{product.item_name}}" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price:</span>
          <input id="itemPrice" type="text" class="form-control" placeholder="{{product.price}}" aria-label="{{product.price}}" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price:</span>
          <input id="itemStock" type="text" class="form-control" placeholder="{{product.stock}}" aria-label="{{product.stock}}" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">ID:</span>
          <span  class="form-control" >{{product.id}}</span>
        </div>
        </div>
      </div>
    </div>

    
        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TYPE</h5>

              <span class="badge bg-light text-dark">Clothing</span>
              <span class="badge bg-primary text-dark">Tech</span>
              <span class="badge bg-light text-dark">Home Decor</span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="card" style="width: 70rem">
            <div class="card-body">
              <h5 class="card-title">TAG</h5>

              <span class="badge rounded-pill bg-light text-dark">color</span>
              <span class="badge rounded-pill bg-light text-dark">size</span>
              <span class="badge rounded-pill bg-primary text-white">new</span>
              <span class="badge rounded-pill bg-light text-dark">handmade</span>
              <span class="badge rounded-pill bg-light text-dark">sport</span>
              <span class="badge rounded-pill bg-light text-dark">cars</span>
              <span class="badge rounded-pill bg-light text-dark">electric</span>

              
            </div>
          </div>

